BASE_URL=https://sis-qc-host.sis.flexiapp.cloud

# OAuth2 password grant cho /connect/token
API_USERNAME=phuong.tran
API_PASSWORD=Admin@123
CLIENT_ID=StudentInfoSystem_App
SCOPE=offline_access StudentInfoSystem

# Test data constants
campus_id=1efa96ed-64bc-196e-f405-3a1902691aca
campus_code=Phuong_Test
schoolyear_id=14065bb6-c5f3-9df1-3f97-3a1ad675fb10
schoolyear_code=25-26
